<p-toolbar [style]="{ height: '100px' }">
    <div class="p-toolbar-group-start">
        <img src="assets/icons/icon-72x72.png" alt="logo" />
    </div>
    <div class="p-toolbar-group-center">
        {{ title }}
    </div>
    <div class="p-toolbar-group-end">
        <i  class="pi pi-shopping-cart" style="font-size: 2rem" (click)="goToCart()"></i>
      <span class="cart-badge" >{{ productCount }}</span>
    </div>
</p-toolbar>
<p-splitter
    [panelSizes]="[20, 80]"
    [style]="{ height: 'calc(100vh - 100px)' }">
    <ng-template pTemplate>
        <div class="w-full">
            <app-panel-menu  (click)="onOptionSelected()"/>
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="w-full app-content">
          <router-outlet *ngIf="!cart"></router-outlet>
          <app-product-list *ngIf="cart"  [isPanier]="cart" (listUpdated)="onProductListUpdated()"></app-product-list>
        </div>
    </ng-template>
</p-splitter>
